$white: #fff;

// secondary
$secondaryLight: #ede7f6;
$secondaryMain: #008c76;
$secondaryDark: #006455;
$secondary200: #b39ddb;
$secondary800: #4527a0;

$active: #DAE7E6;


:export {
    white: $white;
    // secondary
  secondaryLight: $secondaryLight;
  secondary200: $secondary200;
  secondaryMain: $secondaryMain;
  secondaryDark: $secondaryDark;
  secondary800: $secondary800;
  active: $active;
}
